body {
  background-color: #7700BB;
  background-size: cover;
  font-family: "Microsoft JhengHei";
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  text-align: left;
  overflow-x: hidden; }

/*?I??????*/
a {
  color: #000000;
  text-decoration: none; }
  a:link {
    color: #000000;
    text-decoration: none; }
  a:hover {
    color: #000000;
    text-decoration: underline; }
  a:active {
    color: #7A9D25;
    text-decoration: none; }

.linkfontsize {
  font-size: 14px;
  font-weight: 900; }

.clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

br {
  line-height: 18px; }

.last {
  border: 0; }

/* bg   -----------------------------------------------------------------------------*/
.top {
  background-color: #7700BB;
  margin-top: -10px !important;
  position: absolute;
  z-index: 1;
  height: 600px;
  width: 100%;
  top: 0;
  left: 0; }

.page {
  width: 980px;
  margin: auto;
  background: none !important; }

#top {
  height: 96px; }
  #top .left {
    margin: 18px 0px 0px 0px; }
    #top .left a {
      display: block;
      width: 183px;
      height: 62px;
      background: url("../images/logo_top.png") no-repeat top left; }
      #top .left a h1 {
        text-indent: -999px;
        font-size: 1px;
        font-weight: normal;
        text-decoration: none;
        color: #000; }

/* -----------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------*/
#crumb {
  height: 320px;
  background: url("../images/shadow.png") top no-repeat;
  padding-top: 30px; }
  #crumb div {
    width: 290px;
    height: 160px;
    margin-left: 20px;
    border-right: dashed 1px #646363;
    float: left;
    padding-right: 15px; }
    #crumb div h2 {
      font-family: Arial;
      font-size: 24px;
      color: #90c73e;
      font-weight: normal;
      letter-spacing: -0.04em;
      margin: 0px 0px 20px;
      line-height: 24px; }
      #crumb div h2 span {
        color: #fff; }
    #crumb div a.more {
      font-size: 18px;
      background: url("../images/arrow.gif") 0px 5px no-repeat;
      padding-left: 20px;
      line-height: 30px;
      text-decoration: none;
      cursor: pointer; }
      #crumb div a.more:hover {
        color: #fff; }
  #crumb .last {
    border: 0; }

#crumb_about {
  background: url("../images/shadow.png") top no-repeat;
  padding-top: 30px; }

/* -----------------------------------------------------------------------------*/
#content {
  background-color: #FF5511;
  padding: 20px; }
  #content h3 {
    font-family: Arial;
    font-size: 24px;
    letter-spacing: -0.04em;
    color: #fff;
    font-weight: normal;
    margin: 0px 0px 20px 0px;
    line-height: 40px; }
  #content h2 {
    color: #fff;
    font-size: 30px;
    letter-spacing: -0.04em;
    line-height: 40px;
    margin: 0px 0px 20px 0px;
    font-weight: normal; }
    #content h2 em {
      color: #a9a9a9; }
  #content h4 em, #content h3 em {
    color: #a9a9a9; }
  #content h4 {
    color: #fff;
    font-size: 24px;
    letter-spacing: -0.04em;
    line-height: 30px;
    margin: 30px 0px 10px 0px;
    font-weight: normal; }
  #content small {
    color: #90c73e;
    font-size: 12px; }
  #content b {
    color: #fff;
    font-weight: normal; }

/* -----------------------------------------------------------------------------*/
#home .right {
  width: 320px;
  background-color: #292929;
  padding: 20px 25px; }
  #home .right a {
    display: block;
    width: 240px;
    height: 12px;
    text-decoration: none;
    color: #90c73e;
    border-bottom: dashed 1px #545454;
    line-height: 14px;
    padding: 0px 0px 10px 20px;
    background: url("../images/eagle.gif") 4px 6px no-repeat;
    margin-top: 0;
    margin-bottom: -10px; }
    #home .right a:hover {
      color: #fff;
      text-decoration: underline; }
#home .context {
  padding: 20px;
  width: 502px !important; }
  #home .context img {
    margin-right: 20px;
    margin-top: 4px;
    margin-left: 2px; }
  #home .context .block {
    width: 590px; }
  #home .context .text {
    width: 275px;
    padding-right: 20px;
    float: left; }
#home .part {
  padding: 0px 10px 10px 58px;
  border-bottom: dashed #3f3f3f 1px;
  margin-bottom: 14px; }
#home .first {
  background: url("../images/img_1.gif") 0px 0px no-repeat; }
#home .second {
  background: url("../images/img_3.gif") 0px 0px no-repeat; }
#home .trith {
  background: url("../images/img_2.gif") 0px 0px no-repeat; }
#home .last, #home .right a.last {
  border: 0;
  margin-bottom: 0; }

#about .right div.last, #product .right .last, #services .context .last {
  border: 0;
  margin-bottom: 0; }

/* -----------------------------------------------------------------------------*/
#about .context {
  width: 580px;
  float: left;
  background-color: #292929;
  padding: 20px 25px; }
#about div a.more {
  font-size: 18px;
  background: url("../images/arrow.gif") 0px 5px no-repeat;
  padding-left: 20px;
  line-height: 30px;
  text-decoration: none;
  cursor: pointer; }
  #about div a.more:hover {
    color: #fff; }
#about .context img {
  margin-right: 20px;
  margin-top: 4px;
  margin-left: 2px; }
#about .left {
  width: 100%;
  padding-right: 30px; }
  #about .left div {
    display: block;
    width: 900px;
    border-bottom: dashed 1px #545454;
    padding-bottom: 10px;
    margin-bottom: 6px;
    margin-left: 20px; }
    #about .left div a {
      font-size: 18px;
      background: url("../images/arrow.gif") 0px 5px no-repeat;
      padding-left: 20px;
      line-height: 30px;
      text-decoration: none;
      cursor: pointer; }
      #about .left div a:hover {
        color: #fff;
        text-decoration: underline; }
#about .right {
  width: 250px;
  padding-right: 30px; }
  #about .right div {
    display: block;
    width: 220px;
    border-bottom: dashed 1px #545454;
    padding-bottom: 10px;
    margin-bottom: 6px; }
    #about .right div a {
      display: block;
      width: 220px;
      text-decoration: none;
      color: #90c73e;
      padding: 0px 0px 0px 20px;
      background: url("../images/eagle.gif") 10px 10px no-repeat;
      line-height: 24px; }
      #about .right div a:hover {
        color: #fff;
        text-decoration: underline; }
#about h3 {
  margin: 25px 0px 10px 0px; }
#about a.mail {
  color: #90c73e; }
#about .text td {
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
  color: #b8b8b8;
  text-align: left; }

/* -----------------------------------------------------------------------------*/
#product .context {
  width: 890px;
  float: left;
  padding: 20px 25px; }
#product div a.more {
  font-size: 18px;
  background: url("../images/arrow.gif") 0px 5px no-repeat;
  padding-left: 20px;
  line-height: 30px;
  text-decoration: none;
  cursor: pointer; }
  #product div a.more:hover {
    color: #fff; }
#product .right {
  width: 260px;
  background-color: #292929;
  padding: 20px 25px; }
  #product .right a {
    display: block;
    width: 240px;
    height: 4px;
    text-decoration: none;
    color: #90c73e;
    border-bottom: dashed 1px #545454;
    line-height: 1px;
    padding: 0px 0px 10px 20px;
    background: url("../images/eagle.gif") 4px 0px no-repeat; }
    #product .right a:hover {
      color: #fff;
      text-decoration: underline; }
#product .block {
  width: 890px;
  margin-left: 25px; }
  #product .block .text {
    float: left;
    width: 260px; }
  #product .block .text_2 {
    float: right;
    width: 575px; }

/*#product img{ margin-right:20px; margin-top:4px; margin-left:2px; }*/
/* -----------------------------------------------------------------------------*/
#services .context {
  width: 260px;
  float: left;
  padding: 20px 25px; }
  #services .context a {
    display: block;
    width: 240px;
    height: 6px;
    text-decoration: none;
    color: #90c73e;
    border-bottom: dashed 1px #545454;
    line-height: 1px;
    padding: 10px 0px 10px 20px;
    background: url("../images/eagle.gif") 4px 9px no-repeat; }
    #services .context a:hover {
      color: #fff;
      text-decoration: underline; }
#services .right {
  width: 570px;
  background-color: #292929;
  padding: 20px 25px;
  float: right; }
#services h4 {
  margin-top: 5px;
  margin-bottom: 20px; }
#services div a.more {
  font-size: 18px;
  background: url("../images/arrow.gif") 0px 5px no-repeat;
  padding-left: 20px;
  line-height: 30px;
  text-decoration: none;
  cursor: pointer; }
  #services div a.more:hover {
    color: #fff; }
#services img {
  margin-right: 20px;
  margin-top: 4px;
  margin-left: 2px; }
#services h3 {
  margin-bottom: 16px; }

/* -----------------------------------------------------------------------------*/
#gallery {
  width: 940px;
  height: 422px; }

.spdiv {
  display: block;
  width: 100%;
  border-bottom: solid 1px #545454;
  padding-bottom: 10px;
  margin-bottom: 6px; }

.newsmore {
  background: url("../images/arrow.gif") 0px 0px no-repeat;
  padding-left: 20px;
  line-height: 30px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px; }

.newsmorelink {
  font-size: 13px;
  font-weight: 700; }

.stitle {
  font-size: 14px;
  color: #7a9d25;
  font-weight: 900; }

.mainwidth {
  width: 100%; }

.pagewidth {
  width: 100%;
  height: 50px; }

.newsphoto {
  width: 165px;
  height: 195px;
  float: left;
  margin-right: 20px; }

a.newslink:link, a.newslink:active, a.newslink:visited {
  display: block;
  height: 4px;
  text-decoration: none;
  border-bottom: dashed 1px #545454;
  line-height: 1px;
  padding: 10px 0px 10px 20px;
  background: url("../images/eagle.gif") 4px 9px no-repeat;
  text-decoration: none; }
a.newslink:hover {
  color: #90c73e;
  display: block;
  height: 4px;
  text-decoration: none;
  border-bottom: dashed 1px #545454;
  line-height: 1px;
  padding: 10px 0px 10px 20px;
  background: url("../images/eagle.gif") 4px 9px no-repeat;
  text-decoration: underline; }

/* -----------------------------------------------------------------------------*/
/*#footer{ height:50px; background:url("opa_10.png") top repeat; margin-top:14px; padding-top:30px}*/
#footer {
  height: 40px;
  background: url("../images/opa_10.png") top repeat;
  margin-top: 14px;
  padding-top: 5px; }
  #footer a {
    text-decoration: none;
    font-size: 15px;
    color: #909090;
    font-weight: bold;
    width: 80px;
    height: 30px;
    margin: 0px 3px;
    line-height: 30px; }
    #footer a:hover, #footer a.act {
      color: #fff;
      border-bottom: 3px solid #fff;
      padding-bottom: 7px; }

/*#footer a{ text-decoration:none; font-size:15px; color:#909090; font-weight:bold;  width:80px; height:30px; margin:0px 20px; line-height:30px}*/
/* -----------------------------------------------------------------------------*/
#coopy {
  height: 55px;
  font-family: Arial;
  font-size: 11px;
  color: #000000;
  padding-top: 30px; }

#read_more h4 {
  font-family: Arial;
  font-size: 24px;
  color: #90c73e;
  font-weight: bold;
  letter-spacing: -0.04em;
  margin: 0px 0px 16px;
  text-shadow: 1px 1px #000;
  line-height: 30px; }

/* -----------------------------------------------------------------------------*/
.red {
  color: #FF0000; }

.white {
  color: #FFFFFF; }

.sub {
  font-size: 18px;
  background: url("../images/arrow.gif") 0px 10px no-repeat;
  padding-left: 20px;
  line-height: 30px;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-transform: none;
  color: #fff;
  margin-top: 0; }

.input_contact {
  background-color: #fff;
  width: 400px;
  height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #584c3f;
  border: 1px solid #d2dce6; }

.textarea_contact {
  background-color: #fff;
  width: 400px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #584c3f;
  border: 1px solid #d2dce6; }

.select {
  background-color: #fff;
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #584c3f;
  border: 1px solid #d2dce6; }

/* -------------------------------  Gallery   ----------------------------------------------*/
div.sc_menu_wrapper {
  position: relative;
  height: 422px;
  /* Make bigger than a photo, because we need a place for a scrollbar. */
  width: 240px;
  margin-top: 0px;
  overflow: hidden;
  overflow: auto;
  float: left; }
div.sc_menu {
  padding: 0px 20px 0px 0px; }

.sc_menu a {
  display: block;
  margin-bottom: 8px;
  width: 270px; }
.sc_menu img {
  display: block;
  border: none; }

.sc_menu_wrapper .loading {
  position: absolute;
  top: 50px;
  left: 10px;
  margin: 0 auto;
  padding: 10px;
  width: 100px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  text-align: center;
  color: #fff;
  border: 1px solid #4f4f4f;
  background: #1F1D1D; }

.sc_menu_tooltip {
  display: block;
  position: absolute;
  padding: 6px;
  font-size: 12px; }

#fullsize {
  position: relative;
  overflow: hidden !important;
  z-index: 200;
  float: right;
  margin-right: 10px;
  height: 422px; }
  #fullsize div {
    width: 674px;
    height: 422px;
    position: relative; }
    #fullsize div img {
      width: 674px;
      height: 422px;
      position: relative; }

.mainph {
  width: 100%;
  height: 1px;
  background-image: url(../images/main_ph.png);
  margin: 20px 0 20px 0; }

.mainphleft {
  width: 100%;
  float: left;
  height: 1px;
  background-image: url(../images/main_ph.png);
  margin: 20px 0 20px 0; }

.readli {
  list-style: none;
  background: url(../images/eagle.gif) no-repeat 0px 11px;
  padding-left: 15px;
  margin-left: 20px; }

.roomtabletitle {
  font-family: 'Microsoft JhengHei';
  font-size: 16px;
  font-weight: 700;
  color: #7a9d25;
  margin-bottom: 20px; }

.roomtablename {
  font-family: 'Microsoft JhengHei';
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF; }

/*slideshow JS*/
* {
  margin: 0;
  padding: 0; }

#slideshow {
  /*background-color:#F5F5F5;*/
  border: 5px solid #cccccc;
  margin: auto 0;
  position: relative;
  /*-moz-box-shadow:0 0 22px #111;
	-webkit-box-shadow:0 0 22px #111;
	box-shadow:0 0 22px #111;*/ }
  #slideshow ul {
    height: 100%;
    left: 0px;
    list-style: none outside none;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 100%; }
  #slideshow li {
    position: absolute;
    display: none;
    z-index: 10; }
    #slideshow li:first-child {
      display: block;
      z-index: 1000; }
  #slideshow .slideActive {
    z-index: 1000; }
  #slideshow canvas {
    display: none;
    position: absolute;
    z-index: 100; }
  #slideshow .arrow {
    height: 86px;
    width: 60px;
    position: absolute;
    background: url("../images/arrows.png") no-repeat;
    top: 50%;
    margin-top: -43px;
    cursor: pointer;
    z-index: 5000; }
  #slideshow .previous {
    background-position: left top;
    left: 0; }
    #slideshow .previous:hover {
      background-position: left bottom; }
  #slideshow .next {
    background-position: right top;
    right: 0; }
    #slideshow .next:hover {
      background-position: right bottom; }

a.sublnk_traffic:link, a.sublnk_traffic:active, a.sublnk_traffic:visited {
  color: #7a9d25; }
a.sublnk_traffic:hover {
  color: #99cc00; }

.loading-data {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 99; }
  .loading-data .wrap {
    padding: 20px 10px;
    width: 60px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    font-size: 20px;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
