$mid-color:#FF5511;




body {
  font-family: '·L³n¥¿¶ÂÅé';
}

a:hover {
  cursor: pointer;
}

.lavaLampBottomStyle li.back {
  margin-top: 2px;
}

.context .wrap {
  border: 1px solid #90C73E;
  padding: 10px;
  font-size: 16px;
  font-weight: 800;
}

.style1 {
  color: #FF6600;
}

#home {
  .context {
    width: 540px !important;
    float: left;
  }
  .right {
    width: 370px;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#services .context a {
  height: auto;
  padding: 10px 0px 15px 20px;
}

#crumb div {
  width: 306px;
}

.carousel-inner img {
  width: 100%;
}

.carousel-control {
  &.left, &.right {
    background-image: none;
  }
  &.left img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  &.right img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}

#banner .carousel-indicators {
  margin-bottom: -65px;
}

.carousel-indicators {
  li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0;
    text-indent: -999px;
    cursor: pointer;
    background-color: #969696;
    border-width: 0;
    border-radius: 10px;
  }
  .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #83cb23;
  }
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.hight365 {
  height: 365px;
}

.marquee {
  padding: 15px;
  a {
    margin-right: 10px;
    font-size: 17px;
    color: #FF0;
  }
  marquee {
    display: inline-block;
    overflow: hidden;
    text-align: initial;
    white-space: nowrap;
  }
}

#home .context img {
  margin-bottom: 10px;
}

#crumb div img {
  margin-bottom: 20px;
}

#services {
  .context {
    width: 310px;
  }
  .right {
    width: 630px;
    float: left;
  }
}

#coopy {
  margin-bottom: 10px;
}

.linkfontsize.menu > a {
  padding: 15px;
  display: inline-block;
  color:#000000;
  border-bottom: 2px solid transparent;
  &.active {
    border-bottom: 2px solid #7a9d25;
  }
}

.nav-top {
  background-color:$mid-color;
  background-position: top center;
  color:#000000;
  margin: 0 15px;
}

.sub-menu {
  .sub-menu-all, &.active .sub-menu-all {
    display: block;
  }
}

#content h2 i {
  display: none;
}

#crumb.page-bottom {
  height: 180px;
  margin-bottom: -120px;
}

.tab-top img, #services img {
  width: 100%;
}

.bg-img {
  background-position: center;
  background-size: cover;
  height: 150px;
  margin-bottom: 10px;
  border: 3px solid #b8b8b8;
}

.newsphoto {
  width: 100%;
  height: auto;
  float: none;
  margin-right: 0;
  margin-bottom: 20px;
}

.vr_btn {
  font-size: 16px;
  color: #FFF;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 9px 15px 8px 15px;
  background-color: #7a9d25;
  margin: 0;
  margin-top: 10px;
  &:hover {
    font-size: 16px;
    color: #FFF;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 9px 15px 8px 15px;
    background-color: #7a9d25;
    margin: 0;
    margin-top: 10px;
  }
  &.inline-block {
    display: inline-block;
    padding: 6px 10px 5px 10px;
    &:hover {
      display: inline-block;
      padding: 6px 10px 5px 10px;
    }
  }
  img {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-top: -5px;
  }
}

.context {
  padding: 20px 25px;
}

.photo-border {
  border: 5px solid #cccccc;
}

.carousel-control {
  text-shadow: none;
}

.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
      opacity: 0;
    }
    .active {
      &.left, &.right {
        opacity: 0;
      }
      opacity: 1;
    }
    .next.left, .prev.right {
      opacity: 1;
    }
    .next, .prev {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
    .active {
      &.left, &.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }
  }
  .carousel-control {
    z-index: 2;
  }
}

.full-screen-modal {
  width: auto;
  .modal-content {
    padding: 15px;
  }
  .close {
    background-color: #fff;
    z-index: 10;
    position: relative;
    opacity: 1;
    padding: 5px 15px;
    margin-right: 10px;
    line-height: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -1px;
  }
  .booking {
    background-color: #fff;
    z-index: 10;
    opacity: 1;
    padding: 5px 15px;
    margin-right: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    color: #000;
    right: 70px;
    line-height: 30px;
    text-decoration: none;
    margin-top: -1px;
  }
}

.carousel-fade .carousel-inner {
  .next, .prev {
    float: none;
  }
  .active {
    &.left, &.right {
      float: none;
    }
  }
}

.m-w-500 {
  max-width: 500px;
}

.videoWrapper.vr {
  padding-bottom: 40%;
}

.img-center {
  margin: 0 auto;
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.table-bordered {
  border: 1px solid #999999;
  > {
    tbody > tr > {
      td, th {
        border: 1px solid #999999;
      }
    }
    tfoot > tr > {
      td, th {
        border: 1px solid #999999;
      }
    }
    thead > tr > {
      td, th {
        border: 1px solid #999999;
      }
    }
  }
}

.room {
  padding: 10px;
}

@media (max-width: 1000px) {
  .room {
    margin-bottom: 20px;
  }
  .desktop {
    display: none;
  }
  .page {
    width: auto;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .navbar-brand {
    img {
      height: 100%;
    }
    padding: 0 10px;
  }
  .navbar-nav {
    float: none;
  }
  .navbar-toggle {
    .icon-bar {
      background-color: #fff;
    }
    border-color: transparent;
    &:hover, &:active, &:focus {
      background-color: transparent;
    }
    &.collapsed {
      > .icon-bar.bar1, > .icon-bar.bar3 {
        transform: translateY(0) rotate(0deg);
        transition: all .3s;
      }
      > .icon-bar.bar2 {
        opacity: 1;
        transition: all .3s;
      }
    }
    > .icon-bar.bar1 {
      transform: translateY(6px) rotate(45deg);
      transition: all .3s;
    }
    > .icon-bar.bar3 {
      transform: translateY(-6px) rotate(-45deg);
      transition: all .3s;
    }
    > .icon-bar.bar2 {
      opacity: 0;
      transition: all .3s;
    }
  }
  .navbar-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar-toggle {
    margin-right: 10px;
  }
  .navbar-header {
    background-color: rgba(0, 0, 0, 1);
  }
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .nav > li {
    > a {
      &:focus, &:hover {
        text-decoration: none;
        background-color: transparent;
        color: #fff;
      }
    }
    &.booking > a {
      color: #A2E646;
      &:hover {
        color: #A2E646;
      }
    }
    > a img {
      display: inline-block;
      margin-top: -2px;
    }
    float: left;
    width: 50%;
  }
  .navbar-toggle {
    display: block;
    float: right;
  }
  .navbar-header {
    float: none;
  }
  .navbar-collapse.collapse {
    display: none !important;
    &.in {
      display: block !important;
    }
  }
  #container {
    width: 100%;
    padding: 0;
  }
  #slides {
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .hight365 {
    height: auto;
  }
  #header {
    margin-top: 70px;
  }
  .full-img {
    width: 100%;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0;
  }
  #banner .carousel-indicators {
    margin-bottom: -50px;
  }
  #home .context {
    width: 100% !important;
    float: none;
    padding: 0;
  }
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: none;
  }
  #home .right {
    width: 100%;
    float: none;
    margin-top: 30px;
    padding: 15px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  #crumb {
    div {
      width: 100%;
      margin-left: 0;
      padding: 0 20px;
      height: auto;
      margin-bottom: 30px;
      img {
        width: auto;
        display: block;
      }
    }
    &.home-crumb {
      height: auto;
    }
  }
  #footer a {
    width: auto;
  }
  .inline-block {
    display: inline-block;
  }
  .block {
    display: block;
  }
  #footer {
    height: auto;
    background: url(../images/opa_10.png) top repeat;
    margin-top: 14px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-position: center;
    background-size: cover;
  }
  #coopy {
    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }
    .text {
      position: relative;
      z-index: 10px;
      padding: 10px;
    }
    height: auto;
    font-size: 11px;
    color: #797979;
    padding-top: 0;
    position: relative;
    margin-bottom: 0;
  }
  .linkfontsize.menu > a {
    padding: 10px;
  }
  .nav-top {
    margin: 0;
  }
  #services {
    .context {
      width: 100%;
      padding: 0;
    }
    .right {
      width: 100%;
      padding: 15px;
    }
  }
  .sub-menu {
    .sub-menu-all {
      display: none;
    }
    &.active .sub-menu-all {
      display: block;
    }
  }
  #content h2 {
    cursor: pointer;
    i {
      display: inline-block;
      color: #fff;
      font-size: 20px;
      margin-left: 14px;
      transition: all .3s;
    }
  }
  .sub-menu {
    .context h2 i {
      transform: rotate(180deg);
    }
    &.active .context h2 i {
      transform: rotate(0deg);
    }
  }
  .bg-img {
    height: 250px;
  }
  .content-wrap {
    margin-bottom: 30px;
  }
  .context {
    padding: 0;
  }
}

@media (max-width: 480px) {
  #footer .socal {
    display: block;
    margin-bottom: 5px;
  }
  #banner .carousel-indicators {
    margin-bottom: -40px;
  }
  .bg-img {
    height: 150px;
  }
  .videoWrapper.vr {
    padding-bottom: 150%;
  }
  .readli {
    margin-left: 0;
  }
}

@media (max-width: 380px) {
  .bg-img {
    height: 100px;
  }
}